.btn{
  border-radius: 15px;
  color: black;
  border: none;
  cursor: pointer;
  padding: 8px;
}

.btn--primary {
  background-color: rgb(255, 176, 48);
  color: #ffffff;
}

.btn--secondary {
  background-color: rgb(80, 82, 84);
  color: #ffffff;
}

.btn--small {
  font-size: 14px;
}

.btn--medium {
  font-size: 18px;
}